html, body {
    color: rgb(50,50,50);
    font-family: sans-serif;
    text-shadow: 0px 0px 3px rgba(255,255,255,0.7);
    font-size: 18px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

footer, header {
    font-size: 0.8em;
}

html {
    min-height: 100%;
    background: repeating-linear-gradient(170deg, rgb(255, 170, 170) 0px, rgb(255, 255, 131) 400px, rgb(139, 189, 255) 800px, rgb(206, 175, 255) 1200px, rgb(255, 170, 170) 1600px);
}